
main.mainQuartos{
    padding-top: 70px;
}
section.testeString{
    display: flex;
    justify-content: space-around;
    padding: 2%;
    margin-bottom: 20px;
}
section.testeString ul{
    display: flex;
    flex-direction: column;
    list-style-position: inside;
}
.mainQuartos{
    padding: 70px 0;
}
.mainQuartos div h2{
    margin-bottom: 12px;
}
.slide-quartos{
    width: 100%;
}
.slide-container{
    width: 70%;
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.img-box{
    width: 100%;
    height: 300px;

    display: flex;
}
.img-box img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}